
<div class="container-fluid">
	<div class="row">

		<div class="col-sm-4 col-sm-offset-1">
			<br/>
			When you have <i>Plannie</i> of stuff to do...get organized!
			<br/><br/>
			Welcome to this planning application! Here you'll be able to create events in order to organize your daily agenda.
			<br/><br/>
			Alright, you can create Google calendar events too if you want.
			<br/><br/><br/>
			General Assembly, BEWD, 2014
			<br/>
			&#169;Alicia P.
		</div>

		<br/>

		<div class="col-sm-3 col-sm-offset-1 greybox">
			Sign in to <b>Plannie</b>

			<br/><br/>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div>
					<%= f.email_field :email, autofocus: true, placeholder: "Email" %>
				</div>
				<br/>
				<div>
						<%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
				</div>

				<% if devise_mapping.rememberable? -%>
					<div><%= f.check_box :remember_me %>
						<%= f.label :remember_me %>
					</div>
				<% end %>

				<br/>
				<div>
					<%= f.submit "Sign in", class: "btn btn-default" %>
				</div>
			
			<% end #end form %>

			<%= render "devise/shared/links" %>

		</div>
	</div>
</div>
