
<%= link_to "sign out", destroy_user_session_path, method: :delete %>
<h2>Edit "<%= @event.title %>"</h2>


<% if @event.errors.any? %>
	<h5><%= pluralize(@event.errors.count, "error") %> while creating event</h5>
	<ul>
	<% @event.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
<% end %>



<%= form_for @event do |f| %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>

<p>
<%= f.label :event_date, "Date" %>
<%= f.date_field(:event_date) %>
</p>


<p>
<%= f.label :has_length %>
<%= f.check_box(:has_length) %>
</p>


<p>
<%= f.label :begti, "From" %>
<%= f.time_field(:begti) %>



<span id="hidden_to_field">
<%= f.label :endti, "to" %>
<%= f.time_field(:endti) %>
</span>

</p>



<p>
	<%= f.label :comments %>
	<%= f.text_area :comments %>
</p>

<br/>
<%= f.submit "update" %>
<%= f.submit :cancel %>
<% end %>

