<h2>My planning</h2>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>
<hr/>



<% if !@events.empty? %>

<!-- <% current_day = @events[0].event_date %> -->

<table border="1">

	<tr>
		<th>
			<%= @current_day %>
			<!-- current_day.to_formatted_s(:long_ordinal) -->
			<%= link_to "Add", new_event_path %>
		
		</th>
	</tr>

	<% @events.each do |event| %>

	<% if event.event_date == @current_day %>

	<tr><td><%= event.id %>:<%= event.title %><br/>
<!-- event.begti.strftime("%I:%M%p") -->
		<%= event.begti %>-<%= event.endti %>
	</td></tr>

	<% else %>
</table>
<hr/>
<table border="1">
	<% @current_day = event.event_date %>
	<tr>
		<th>

			<%= @current_day %>
			<%= link_to "Add", new_event_path %>
	</th>
</tr>
	<tr><td><%= event.id %>:<%= event.title %><br/>
		<%= event.begti %>-<%= event.endti %>
	</td></tr>
	<% end #if/else block %>

	<% end #loop end %>

</table>

<% else %>
no events to show
<% end #if %>

