<h1>My planning</h1>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>
<hr/>

<% if !@events.empty? %>

<% current_day = @events[0].day_name %>

<table border="1">

	<tr>
		<th><%= "#{WEEK[current_day - 1]}" %>
			<%= link_to "Add", new_event_path %>		
		</th>
	</tr>

	<% @events.each do |event| %>

	<% if event.day_name == current_day %>

	<tr><td><%= event.title %><br/>
		<%= event.begda %>
	</td></tr>

	<% else %>
</table>
<hr/>
<table border="1">
	<% current_day = event.day_name %>
	<tr><th><%= "#{WEEK[current_day - 1]}" %>
<%= link_to "Add", new_event_path %>
	</th></tr>
	<tr><td><%= event.title %><br/>
		<%= event.begda %>
	</td></tr>
	<% end #if/else block %>

	<% end #loop end %>

</table>

<% else %>
no events to show
<% end #if %>

