

<div class="container-fluid">
	<div class="row">

		<div class="col-sm-6 col-sm-offset-1">
			<h2><%= pluralize(@events_found.length, "event") %> containing "<%= "#{params[:search_this]}" %>"</h2>			
		</div>

	</div>



	<div class="row">

		<div class="col-sm-4 col-sm-offset-1">

			<% if !@events_found.empty? %>

			<table class="table table-condensed table-bordered">

				<tr>
					<th>
						<%= @current_day.strftime('%a %-d %b %Y') %>
					</th>
				</tr>

				<% @events_found.each do |event| %>

				<% if event.event_date == @current_day %>

				<%= tag("tr", {class: "clickable_row",
					data: { url: "/events/#{event[:id]}" }}, true) %>


				<td><%= event.title %><br/>
					<%= event.begti.strftime("%H:%M%P") %>-<%= event.endti.strftime("%H:%M%P") %><br/>
					<%= link_to "view", event %>

				</td>
				</tr>



				<% else %>
			</table>
			<hr/>
			<table class="table table-condensed table-bordered">
				<% @current_day = event.event_date %>
				<tr>
					<th>
						<%= @current_day.strftime('%a %-d %b %Y') %>
					</th>
				</tr>
				<%= tag("tr", {class: "clickable_row",
					data: { url: "/events/#{event[:id]}" }}, true) %>

					<td><%= event.title %><br/>
					<%= event.begti.strftime("%H:%M%P") %>-<%= event.endti.strftime("%H:%M%P") %><br/>
					<%= link_to "view", event %>
				</td>
			</tr>
				<% end #if/else block %>

				<% end #loop end %>

			</table>

			<% else %>

			<table class="table table-condensed table-bordered">
				<tr><td>no events to show</td></tr>
			</table>

			<% end #if %>


		</div>

	</div>

</div>
