
<div class="container-fluid">
	<div class="row">

		<div class="col-sm-4 col-sm-offset-2">
			<h2>Deleted events</h2>			
		</div>

	</div>

	<div class="row">

		<div class="col-sm-4 col-sm-offset-2 bluebox">

			<% if !@deleted_events.empty? %>

			<table class="table table-condensed table-bordered">

				<tr>
					<th class="table_header">
						<%= @current_day.strftime('%a %-d %b %Y') %>
					</th>
				</tr>

				<% @deleted_events.each do |event| %>

				<% if event.event_date == @current_day %>

				<%= tag("tr", {class: "clickable_row",
					data: { url: "/events/#{event[:id]}" }}, true) %>


					<td><%= event.title %><br/>
						<%= event.begti.strftime("%I:%M %P") %>-<%= event.endti.strftime("%I:%M %P") %><br/>
					</td>
				</tr>



				<% else %>
			</table>
			<!-- <hr/> -->
			<table class="table table-condensed table-bordered">
				<% @current_day = event.event_date %>
				<tr>
					<th class="table_header">
						<%= @current_day.strftime('%a %-d %b %Y') %>
					</th>
				</tr>
				<%= tag("tr", {class: "clickable_row",
					data: { url: "/events/#{event[:id]}" }}, true) %>

					<td><%= event.title %><br/>
						<%= event.begti.strftime("%I:%M %P") %>-<%= event.endti.strftime("%I:%M %P") %><br/>
					</td>
				</tr>
				<% end #if/else block %>

				<% end #loop end %>

			</table>

			<% else %>

			<table class="table table-condensed table-bordered">
				<tr><td>no events to show</td></tr>
			</table>

			<% end #if %>

		</div>

	</div>

</div>
