<h2>My private events</h2>


<% if !@private_events.empty? %>

<table class="table table-condensed">

	<tr>
		<th>
			<%= @current_day %>
			<!-- current_day.to_formatted_s(:long_ordinal) -->
		</th>
	</tr>

	<% @private_events.each do |event| %>

	<% if event.event_date == @current_day %>

	<tr><td><%= event.title %><br/>
<%= event.begti.strftime("%H:%M%P") %>-<%= event.endti.strftime("%H:%M%P") %><br/>
		<%= link_to "view", event %>

	</td></tr>

	<% else %>
</table>
<hr/>
<table class="table table-condensed">
	<% @current_day = event.event_date %>
	<tr>
		<th>
			<%= @current_day %>
		</th>
	</tr>
	<tr><td><%= event.title %><br/>
<!-- 	time conversion <br/> -->
		<%= link_to "view", event %>
	</td></tr>
	<% end #if/else block %>

	<% end #loop end %>

</table>

<% else %>

<table class="table table-condensed">
	<tr><td>no events to show</td></tr>
</table>

<% end #if %>

