

<h2><%= @event.title %></h2>

<p>
<label for="event_title">Title</label>
<input id="event_title" value="<%= @event.title %>" type="text" disabled>	
</p>


<p>
<!-- <label for="event_event_date">Date</label> -->
<!-- <input id="event_event_date" value="<%= @event.event_date %>" type="date" disabled> -->
Date <%= @event.event_date %>
</p>

<p>
<label for="event_has_length">Has length BORRAR</label>

<!-- (name, value = "1", checked = false, options = {}) -->
<%= check_box_tag "event_has_length", nil, checked=@event.has_length, disabled: true %>
</p>


<p>
<!-- <label for="event_begti">From </label> -->
<!-- <input id="event_begti" value="<%= @event.begti.to_s(:time) %>" type="text" disabled> -->

<% if @event.has_length %>
From <%= @event.begti.strftime("%H:%M %P") %>
<!-- <label for="event_endti">to </label> -->
<!-- <input id="event_endti" value="<%= @event.endti.to_s(:time) %>" type="text" disabled> -->
 to <%= @event.endti.strftime("%H:%M %P") %>
<% else %>
At <%= @event.begti.strftime("%H:%M %P") %>
 <% end %>
</p>


<p>
<label for="event_is_private">Private event</label>
<%= check_box_tag "event_is_private", nil, checked=@event.is_private, disabled: true %>
</p>




<p>
<label for="event_comments">Comments</label>
<textarea id="event_comments" value="<%= @event.comments %>" disabled></textarea>
</p>

<span><%= link_to "Edit", edit_event_path %></span>
<span><%= link_to "Back", events_path %></span>
<span><%= link_to "Delete", event_path, method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %></span>
<br/>



<a href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%= @event.title %>&dates=<%= @complete_date %>&details=<%= @event.comments %>&sf=true&output=xml" target="_blank">
	<%= image_tag "gc_button3.gif" %>
</a>
